@CHARSET "ISO-8859-1";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------- Clearfix -------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*------------------------------------------------------------------
                         Personnal style 
------------------------------------------------------------------*/

/*---------------------------- NAV -------------------------------*/
header{position:relative;}
nav, .subMenu{position: absolute;top: 0;width: 100%;z-index: 1;}
nav ul, nav li{display:inline-block;}
/*---------------------------- BODY ------------------------------*/
h2{font-size:1.5em;}
#video{padding-left:9%}
#places section {display:inline-block;}

/*--------------------------- FOOTER -----------------------------*/
footer{text-align:center;}
footer li{display:inline-block;}

/*---------------------- Responsive style ------------------------*/
/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	/*----------------- NAV -----------------*/
	/*----------------- BODY ----------------*/
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	/*----------------- NAV -----------------*/
	/*----------------- BODY ----------------*/

