@CHARSET "ISO-8859-1";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------- Clearfix -------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/*---------------------------- font icon -------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?71362650');
  src: url('../font/fontello.eot?71362650#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?71362650') format('woff'),
       url('../font/fontello.ttf?71362650') format('truetype'),
       url('../font/fontello.svg?71362650#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  display: inline-block;
}
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-pinterest:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-instagramm:before { content: '\e800'; } /* '' */


/*--------------------- smint navigation -----------------*/
.subMenu {position: absolute;height: 50px;z-index: 1000;width: 100%;background: #2a1f1a;}
.subNavBtn {display: block;height: 35px;width: 12%;float: left;margin: 0px 0px 0 0;text-decoration: none;padding: 15px 2% 0 2%; text-align: center;color: #a99680;}
.subMenu p, .subMenu a{color: #a99680;display:inline-block;}
/*------------------------------------------------------------------
                         Personnal style 
------------------------------------------------------------------*/

/*---------------------------- NAV -------------------------------*/
header{position:relative;}
.headerContent{position:absolute;z-index:1;top:40%;left:50%;}

/*---------------------------- BODY ------------------------------*/
body{background:#f4e8dc;text-align:center;}
#video{padding-left:9%}
.places li {display:inline-block;margin-right:11%;text-align:center;}
.places li p{visibility:hidden;}
.places li a:hover{color:#f16607;}
.places li:hover p{visibility:visible;}
.places a{margin:auto;}
.places li:first-child{margin-left:2%;}
.places li:last-child{margin-right:0;}
.alaska{background: url('../images/sprite-countries.png') no-repeat -2px -13px; width: 169px;display: block;padding-top:187px;}
.argentine{background: url('../images/sprite-countries.png') no-repeat -181px -5px; width: 77px;display: block;padding-top:201px;}
.lybie{background: url('../images/sprite-countries.png') no-repeat -276px -32px; width: 154px;display: block;padding-top:172px;}
.malaisie{background: url('../images/sprite-countries.png') no-repeat -446px -31px; width: 98px;display: block;padding-top:150px;}
.mongolie{background: url('../images/sprite-countries.png') no-repeat -561px -35px; width: 219px;display: block;padding-top:125px;}

.leftInfo, .rightInfo{float:left;}

/*--------------------------- FORM -----------------------------*/
.sign{border:5px solid #f4e8dc;margin:auto;width:454px;}
.contactForm{margin:auto;width:595px;}
form input{display:block;width:100%;;color:#fff}
input.submit{display:block;width:auto;margin: auto;border:none;background: rgb(241,102,7);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxNjYwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiODYwMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(241,102,7,1) 0%, rgba(184,96,11,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,102,7,1)), color-stop(100%,rgba(184,96,11,1)));
	background: -webkit-linear-gradient(top,  rgba(241,102,7,1) 0%,rgba(184,96,11,1) 100%);
	background: -o-linear-gradient(top,  rgba(241,102,7,1) 0%,rgba(184,96,11,1) 100%);
	background: -ms-linear-gradient(top,  rgba(241,102,7,1) 0%,rgba(184,96,11,1) 100%);
	background: linear-gradient(to bottom,  rgba(241,102,7,1) 0%,rgba(184,96,11,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16607', endColorstr='#b8600b',GradientType=0 );
}
.contactForm input.submit{text-align:right;}
/*--------------------------- FOOTER -----------------------------*/
footer{text-align:center;background:url('../images/back-end.png');background-repeat:no-repeat;
background-size:contain;
}

/*---------------------- Responsive style ------------------------*/
/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	/*----------------- NAV -----------------*/
	/*----------------- BODY ----------------*/
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	/*----------------- NAV -----------------*/
	/*----------------- BODY ----------------*/

